<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>83344514483-hju7brdko2numtpq51bbl8t5p80mc9af.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83344514483-hju7brdko2numtpq51bbl8t5p80mc9af</string>
	<key>API_KEY</key>
	<string>AIzaSyAMLpXhWY7lJDVtH9Y1M1zMuU_8ZV2BmvM</string>
	<key>GCM_SENDER_ID</key>
	<string>83344514483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.admobDemo</string>
	<key>PROJECT_ID</key>
	<string>fir-add-24935</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-add-24935.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83344514483:ios:61a47eb5a6c7345908ffc6</string>
	<key>DATABASE_URL</key>
	<string>https://fir-add-24935.firebaseio.com</string>
</dict>
</plist>